 body{
  margin:0;
  background-color: white;
  background-size:cover;
}
.container{
  width:auto;
  margin:0 auto;
}
header{
  height: 60px;
  background-color: palevioletred;
  padding: 7px 38px
}
header img{
  float: left;
  height: 61px;
  width: 225px;
}
.iklan{
  width: 500px;
  height: 60px;
  margin-top: -16px;
  margin-left: 36px;
}
header ul{
  list-style: none;
  margin-left: 230px;
}
header ul li{
  float:  left;
}
header ul li a{
  padding: 10px;
  background-color: palevioletred;
  text-decoration: none;
  font-family: rockwell;
  font-weight: 800;
}
header ul li a:hover{
      background-color: plum;
}
nav {
  display:block;
  background-color:plum;
}
nav ul {
  margin-top: 0px;
  list-style-type:none;
}
nav ul li {
  float:left;
}
nav li a {
  padding:15px 23px;
  display:block;
  color:#fff;
  font-size:14px;
  text-decoration:none;
  font-weight:bold;
}
nav .active a,
nav li:hover a {
background-color:black;
}
nav:after, nav:before {
  content:'';
  display:table;
}
nav:after {
  clear:both;
}
/* .search {
    width: 200px;
    margin: 8px;
} */
.clear{
  clear: both;
}
.grid{
  width: 208px;
  padding: 10px;
  border: 1px solid antiquewhite;
  border-radius: 5px;
  float: left;
  margin: 5px;
}
.content{
  padding: 20px;
  background-color: white;
  height: 100%;
}
.cover-grid-news{
  height: 150px;
  width: 100%;
}
.judul{
  text-align: center;
}
.judul h5 a{
  text-decoration: none;
  color: #000;
  text-align: center;
  font-size: 20px;
  font-family: arial;
}
.tombol-lihat{
  text-align: center;
}
.tombol-lihat a{
  background-color: #ff7700;
  padding: 5px 77px;
  border-radius: 3px;
  color: white;
  text-decoration: none;
  font-weight: 800;
  font-family: arial;
}
.tombol-lihat a:hover{
  background-color: #dc7b26;
}
.image, .col-9, .col-3{
  float: left;
}
.col-9{
  width: 75%;
}
.col-9 h1{
  text-align: center;
}
.col-3{
  width: 25%;
  /* background-color: darkturquoise; */
}
.sidebar{
  border: 1px solid #9e9e9e;
  padding: 0px 0px 10px 5px;
  border-radius: 5px;
  margin: 3px 0px;
}
.image{
  padding: 8px;
}
.image img{
  width: 100px;
  height: 100px;
  margin-top: -23px;
}
.atribute a{
  text-decoration: inherit;

}
.btn{
  text-decoration: none;
  background-color: #ff9800;
  color: black;
  padding: 1px 0px;
}
.btn:hover{
  background-color: #e29420;
}
.cari{
  margin-left: 1030px;
  position: absolute;
  margin-top: 7px;
}
.cari input[type=text]{
      padding: 4px;
}
.cari button{
  padding: 3px;
  width: 80px;
}
footer {
  text-align: center;
  clear: both;
  background-color: #1d1d1d;
  padding: 1px;
    color: #eee;
}
